<html>
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="../../stylesheets/reset.css" title="text/css" /> -->
    <link rel="stylesheet" href="../../stylesheets/css/master.css" title="text/css" />
    <title>Dog Party!</title>
  </head>
  <body>
    <div class="navbar">
      <img src="/Users/cameron/turing/2module/dog-party-BE2/images/dog-icon.svg" alt="dog logo">
      <a href="#facts">Facts</a>
      <a href="#what">What</a>
      <a href="#how">How</a>
    </div>
    <div class="top_third">
      <img src="/Users/cameron/turing/2module/dog-party-BE2/images/park.jpg" alt="a park">
      <h1>A Site About Some Dogs</h1>
    </div>

  </body>
</html>
